{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'describe/style.css' %}">

<div class="container">
    <h1>DescribeNet</h1>
    <h3>Please type a visually descriptive overview of the images from the following category.</h3>
</div>


<h3>{{ class_name }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if urls %}
    <ul>
    {% for url in urls %}
        <li>{{ url }}</li>
    {% endfor %}
    </ul>

    <form action="{% url 'submit' 1 %}" method="post">
    {% csrf_token %}
    <!-- {{ wnid }}
    {{ class_name }} -->
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" required>
    <input type="text" value={{ class_name }} name="class_name" hidden>
    <input type="text" value={{ wnid }} name="wnid" hidden>

    <input type="submit" value="Submit">
    </form>
{% else %}
    <p>No images are available.</p>
{% endif %}