{% load static %}

<head>
    <title>DescribeNet</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'describe/style.css' %}">

<div class="header">
    <div class="row">
        <p class="title">DescribeNet</p>
    </div>
    <div class="row">
        <p class="main">Labeling ImageNet classes with highly specific and visual descriptions.</p>
    </div>
</div>

<div class="form">
    <form action="{% url 'login_submit' %}" method="post">
    {% csrf_token %}
    <div class="login_div">
        <input type="text" placeholder="Your name." id="name" name="name" required></textarea>
    </div>
    <input type="submit" value="Submit" class="submit">
    </form>
</div>